/* CSS Document */
.listArea{
   width:100%;
   height:100%;
   background:#BBBBBB;
}

.qp-search{
   width:100%;
   height:auto;
}

.searchArea{
  width:100%;
  height:10%;
}

.search-left{
   float:left;
   width:98%;
   height:100%;
}

.search-right{
   float:left;
   width:2%;
   height:100%;
}

.searchForm{
  width:100%;
  height:20%;
  display:none;
  border:#0099FF dotted 2px;
}

.qp-down:hover,qp-search-icon:hover{
    cursor:pointer;
}

.qp-data{
   width:100%;
   height:85%;
   background:#66FFCC;
}

.qp-page-state{
   width:100%;
   height:5%;
   background:#BBBBBB;
   position:fixed;
}