/* CSS Document */
.treeArea{
  width:15%;
  height:100%;
  float:left;
}

.listArea{
   width:85%;
   height:100%;
   float:left;
}

.qp-search{
   width:100%;
   height:auto;
}

.search-left{
   float:left;
   width:10%;
   height:50px;
   background:#CCFFFF;
}

.search-right{
   float:left;
   width:90%;
   height:50px;
   background:#CCFF33;
}

.searchForm{
  clear:both;
  width:100%;
  display:none;
  height:auto;
}

.qp-button{
  float:right;
}

.qp-button:hover{
    cursor:pointer;
}

.qp-data{
   width:100%;
   height:85%;
}

#smsc{
   width:100%;
   height:100%;
}

.qp-page-state{
   width:100%;
   height:5%;
   background:#BBBBBB;
}

#qpPage{
    border:none;
	width:100%;
}
