/* CSS Document */
.listArea{
   width:100%;
   height:100%;
}

.qp-search{
   width:100%;
   height:auto;
   overflow:hidden;/*子元素有浮动时，加这个父元素就有高度了*/
}

.search-left{
   float:left;
   width:10%;
   height:50px;
}

.search-left:hover{
   cursor:pointer;
}

.search-right{
   float:left;
   width:90%;
   height:50px;
}

.searchForm{
  clear:both;
  width:100%;
  display:none;
  height:auto;
}

.qp-button{
  float:right;
}

.qp-button:hover{
    cursor:pointer;
}

.qp-data{
   width:100%;
   height:80%;
   overflow:none;
   clear:both;
}

#smsc{
   width:100%;
   height:100%;

}

.qp-page-state{
   width:100%;
   height:30px;
   background:#BBBBBB;
   clear:both;
}

#qpPage{
	width:100%;
	height:100%;
	border:none;
}

.qpFieldArea{
	width:100%;
	height:400px;
	border:none;
}

.modal-dialog{
     width:100%;
     height:95%;
}

.modal-content{
     width:100%;
     height:95%;
	 position:relative;
	 top:-5%;
}