<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yq.core.dao.DataDictionaryDao">

    <!-- 获取顶级元素 -->
	<select id="getTopDataDictionarys"  resultType="com.yq.core.entity.DataDictionary">
		select name,id,pid,url,urlType,position from  dataDictionary  where pid = 0 order by position asc,id asc
	</select>
	
	<!-- 根据父id获取下面的子元素 -->
	<select id="getSubDataDictionarys"  parameterType="int" resultType="com.yq.core.entity.DataDictionary">
		select name,id,pid,url,urlType,position from  dataDictionary where pid = #{id} or id=#{id} order by position asc ,id asc
	</select>
	
	<!-- 获取系统元素中所有非顶级元素 -->
	<select id="getNotTopSubDataDictionarys"  resultType="com.yq.core.entity.DataDictionary">
		select name,id,pid,url ,urlType,position  from  dataDictionary  where pid > 0 order by position asc,id asc
	</select>	
	
	<!-- 获取系统的所有的元素 -->
	<select id="getAllDataDictionarys"  resultType="com.yq.core.entity.DataDictionary">
		select name,id,pid,url ,urlType,position from  dataDictionary order by position asc,id asc
	</select>
	
	<!-- 修改指定元素的父id -->
	<update id="updateDataDictionary">
	  update dataDictionary set pid = #{pid},position = #{position}
	  where id = #{id}
	</update>
	
	<!-- 修改指定元素的父id的子元素的位置 -->
	<update id="updateDataDictionaryPositions">
	  update dataDictionary set position = position +1
	  where pid = #{0} and position >=#{1}
	</update>
	
    <!-- 插入元素 -->
	<insert id="insertDataDictionary" useGeneratedKeys="true" keyProperty="id">
	   insert into dataDictionary(name,pid) values(#{name},#{pid})
	</insert>
	
    <!-- 删除元素 -->
	<insert id="deleteDataDictionary">
	   delete from dataDictionary where id = #{id}
	</insert>
	
	<!-- 获取父元素下子元素的个数 -->
	<select id="getChildrenNumByPid"  resultType="int">
		select count(*) from  dataDictionary where pid = #{id}
	</select>	
		
</mapper>