<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yq.core.dao.TableDao">

<!-- 建表语句，默认创建的字段 使用
创建时间createAt
更新时间updateAt
记录创建者creater
记录更新者updater
数据版本version 这个字段是为了保持数据排他使用
 -->
 <update id="createTabe" >
	 CREATE TABLE ${enName} (
	   id INT NOT NULL AUTO_INCREMENT,
	   name VARCHAR(255),
	   createAt DATETIME,
	   updateAt DATETIME,
	   creater INT,
	   updater INT,
	   version INT,
	   <if test="ifSupportParent !=null and ifSupportParent==1">
	       pid INT,
	   </if>
	   PRIMARY KEY ( id )
	)
 </update>
 
  <update id="destoryTable">
     DROP TABLE IF EXISTS ${tableName}
 </update>
</mapper>